div {
    cursor: pointer;
  }
  .elmbutton {
    position: relative;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(96, 98, 102);
    appearance: none;
    text-align: center;
    box-sizing: border-box;
    font-weight: 500;
    user-select: none;
    font-size: 14px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 223, 230);
    border-image: initial;
    outline: none;
    margin: 0px;
    transition: all 0.1s ease 0s;
    padding: 12px 20px;
    border-radius: 4px;
  }

  .elmbutton:hover {
    border: 1px solid rgb(103, 194, 58);
  }
  .elmbutton:hover::after {
    transform: scale(1.5);
    opacity: 0;
    border: 1px solid rgb(103, 194, 58);
    border-radius: 4px;
  }
  /* .elmbutton:hover::before{
    transform: scale(1);
  } */
  .elmbutton::after {
    width:100%;
    height: 100%;
    position:absolute;
    content: '';
    top: 0px;
    left:0px;
    transition: all .5s;
    z-index:123;
  }

  /* .elmbutton::before {
    width:100%;
    height: 100%;
    position:absolute;
    content: '';
    top: 0px;
    left:0px;
    background: rgba(245, 244, 244,.5);
    transition: all .5s;
    transform: scale(0);
  } */


  .Drawercontent {
    width: 500px;
    height: 500px;
    background: rgb(89, 90, 91);
    margin-top: 20px;
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(44, 44, 50);
  }